body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  margin: 0 auto;
}

.calculator input[type="text"] {
  height: 50px;
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

.buttons button {
  width: 80px;
  height: 80px;
  font-size: 1.2rem;
  background-color: #fff;
  color: #000000;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.buttons button:hover {
  background-color: #03126d76;
}

.user-profile-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.user-profile-header {
  text-align: center;
}

.user-profile-info {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.profile-details {
  flex: 1;
}

@media screen and (max-width: 768px) {
  .user-profile-info {
    flex-direction: column;
  }
}
